
.myWarningDialog-pane *.header-panel *.label {
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

.myQuittingDialog-pane *.header-panel *.label {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.addPropertyDialog-pane *.header-panel *.label {
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.addPropertyDialog-pane .content *.label {
    -fx-font-size: 18px;
}

.addPropertyDialog-pane *.button {
    -fx-font-size: 16px;
}

.addPropertyDialog-pane .content *.toggle-button {
    -fx-font-size: 16px;
}

.viewPropertyDialog-pane *.button {
    -fx-font-size: 16px;
    -fx-alignment: center;
}

.viewPropertyDialog-pane *.label {
    -fx-font-size: 18px;
}


.allContent-Pane *.check-box *.combo-box *.button {
    -fx-font-size: 16px;
}

#filterHeader {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

#welcomeMessage {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.root {
    -fx-background-color: rgb(255, 255, 255);
}

.allContent-Pane .scroll-pane {
    -fx-border-color: #000;
    -fx-border-width: 1px;
}

#filterOptions-Pane {
    -fx-border-color: #000;
    -fx-border-width: 1px;
}




